a.out{
	background-color: #5d0c0c;
	width: 100%;
	padding: 2px 8px;
	margin: 0;height: 35px;
	border-style: none;
	border-radius: 0.5em;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
